<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Hoverable rows</h5>
        <p class="card-description">Add
          <code>.table-hover</code>
          to enable a hover state on table rows within a
          <code>&lt;tbody&gt;</code>.</p>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">First</th>
              <th scope="col">Last</th>
              <th scope="col">Handle</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5  class="card-title">Scrolling long content</h5>
        <p class="card-description">When modals become too long for the user’s
          viewport or device, they scroll independent of the page itself. Try
          the demo below to see what we mean.</p>
        <!-- Button trigger modal -->
        <button
          class="btn btn-primary"
          onclick="openModal()"
        >
          Launch demo modal
        </button>

        <!-- Modal -->
        <div
          class="modal fade"
          id="modal"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-modal="true"
          role="dialog"
        >
          <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalScrollableTitle">Modal
                  title</h5>
                <button
                  type="button"
                  class="btn-close"
                                    onclick="closeModal()"

                ></button>
              </div>
              <div class="modal-body">
                <p>Cras mattis consectetur purus sit amet fermentum. Cras justo
                  odio, dapibus ac facilisis in, egestas eget quam. Morbi leo
                  risus, porta ac consectetur ac, vestibulum at eros.</p>
                <p>Praesent commodo cursus magna, vel scelerisque nisl
                  consectetur et. Vivamus sagittis lacus vel augue laoreet odio
                  dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  onclick="closeModal()"
                >Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="modal-backdrop"></div>

<script>
  function openModal() { 
    document.body.classList.add("modal-open");
    document.getElementById('modal-backdrop').classList.add("modal-backdrop","show");
    document.getElementById('modal').classList.add("show");
    document.getElementById('modal').style.display = "block";
  }
  function closeModal() { 
    document.body.classList.remove("modal-open");
    document.getElementById('modal-backdrop').classList.remove("modal-backdrop","show","fade");
    document.getElementById('modal').classList.remove("show");
    document.getElementById('modal').style.display = "none";
  }
</script>