<div class="page-sidebar">
  <ul class="list-unstyled accordion-menu">
    <li class="sidebar-title">Menu</li>
    <li class="{{#if isLanguage}}active-page{{/if}}">
      <a href="/admin/language"><i data-feather="home"></i>Tillar</a>
    </li>
    <li class="{{#if isText}}active-page{{/if}}">
      <a href="/admin/text"><i data-feather="inbox"></i>Matnlar</a>
    </li>
    <li class="{{#if isTranslate}}active-page{{/if}}">
      <a href="/admin/translate"><i data-feather="inbox"></i>Lug'at</a>
    </li>
    <li class="{{#if isLetter}}active-page{{/if}}">
      <a href="/admin/letter"><i data-feather="inbox"></i>Harflar</a>
    </li>
    <li class="{{#if isTest}}active-page{{/if}}">
      <a href="/admin/test"><i data-feather="test"></i>Testlar</a>
    </li>
    <li class="{{#if isMessage}}active-page{{/if}}">
      <a href="/admin/messages"><i data-feather="inbox"></i>Xabarlar</a>
    </li>
  </ul>
</div>