<div class="page-sidebar">
  <ul class="list-unstyled accordion-menu">
    <li class="sidebar-title">Main</li>
    <li class="active-page">
      <a href="index.html"><i data-feather="home"></i>Dashboard</a>
    </li>
    <li class="sidebar-title">Apps</li>
    <li>
      <a href="email.html"><i data-feather="inbox"></i>Email</a>
    </li>
    <li>
      <a href="calendar.html"><i data-feather="calendar"></i>Calendar</a>
    </li>
    <li>
      <a href="social.html"><i data-feather="user"></i>Social</a>
    </li>
  </ul>
</div>