<header class="header">
  <div class="container">
    <div class="hovermenu ttmenu">
      <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button
            type="button"
            class="navbar-toggle collapsed"
            data-toggle="collapse"
            data-target=".navbar-collapse"
          >
            <span class="sr-only">Toggle navigation</span>
            <i class="fa fa-bars"></i>
          </button>
          <div class="logo">
            <a class="navbar-brand" href="/"><img
                src="/images/xlogo.png.pagespeed.ic.vap6Ukaf0i.png"
                alt=""
              /></a>
          </div>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a class="{{#if isHome}}active{{/if}}" href="/">Bosh sahifa</a></li>
            <li><a class="{{#if isText}}active{{/if}}" href="/text">Matnlar</a></li>
            <li><a class="{{#if isWriting}}active{{/if}}" href="/writing">Writing</a></li>
            <li><a class="{{#if isAbout}}active{{/if}}" href="/about">Koreys tili haqida</a></li>
            {{!-- <li><a href="forums.html">Community</a></li> --}}
            {{!-- <li><a href="blog.html">Blog</a></li> --}}
            <li><a href="/contact">Aloqa</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>