<section class="copyright">
  <div class="container">
    <div class="row">
      <div class="col-md-4 text-left">
        <p>
          <a href="/">Koreys tilini o'rganish</a>
        </p>
      </div>
      <div class="col-md-8 text-right">
        <ul class="list-inline">
          <li><a href="/">Bosh sahifa</a></li>
          <li><a href="/letters">Alifbo</a></li>
          <li><a href="/text">Matnlar</a></li>
          <li><a href="/translate">Lug'at</a></li>
          <li><a href="/writing">Matn yozish</a></li>
          <li><a href="/about">Koreys tili haqida</a></li>
          <li><a href="/aloqa">Aloqa</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>