<header class="header">
  <div class="container">
    <div class="hovermenu ttmenu">
      <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button
            type="button"
            class="navbar-toggle collapsed"
            data-toggle="collapse"
            data-target=".navbar-collapse"
          >
            <span class="sr-only">Toggle navigation</span>
              <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="30px" x="0px" y="0px"
                viewBox="0 0 283.426 283.426" xml:space="preserve">
              <g>
                <rect x="0" y="40.84" style="fill:#fff;" width="283.426" height="35"/>
                <rect x="0" y="117.282" style="fill:#fff;" width="283.426" height="35"/>
                <rect x="0" y="194.851" style="fill:#fff;" width="283.426" height="35"/>
              </g>
              </svg>
          </button>
          <div class="logo">
            <a class="navbar-brand" href="/"><img
                src="/images/xlogo.png.pagespeed.ic.vap6Ukaf0i.png"
                alt=""
              /></a>
          </div>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a class="{{#if isHome}}active{{/if}}" href="/">Bosh sahifa</a></li>
            <li><a class="{{#if isLetters}}active{{/if}}" href="/letters">Alifbo</a></li>
            <li><a class="{{#if isText}}active{{/if}}" href="/text">Matnlar</a></li>
            <li><a class="{{#if isTranslate}}active{{/if}}" href="/translate">Lug'at</a></li>
            <li><a class="{{#if isWriting}}active{{/if}}" href="/writing">Matn yozish</a></li>
            <li><a class="{{#if isTest}}active{{/if}}" href="/test">Test</a></li>
            <li><a class="{{#if isAbout}}active{{/if}}" href="/about">Koreys tili haqida</a></li>
            <li><a class="{{#if isContact}}active{{/if}}" href="/contact">Aloqa</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>