<div class="login-page">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-12 col-lg-4">
        <div class="card login-box-container">
          <div class="card-body">
              {{#if error}}
                <p style="color: red; margin-top:20px; text-align:center">
                    {{error}}
                </p>
              {{/if}}
            <div class="authent-logo">
              <img src="../../assets/images/logo@2x.png" alt="" />
            </div>
            <div class="authent-text">
              <p>Hush kelibsz</p>
              <p>Tizimga kirish uchun ma'lumotlani kiriting</p>
            </div>
            <form method="POST" action="/admin/auth/login">
              <input type="hidden" name="_csrf" value="{{csrf}}" />
              <div class="mb-3">
                <div class="form-floating">
                  <input
                    type="text"
                    name="name"
                    class="form-control"
                    id="floatingInput"
                    placeholder="Login"
                  />
                  <label for="floatingInput">Login</label>
                </div>
              </div>
              <div class="mb-3">
                <div class="form-floating">
                  <input
                    type="password"
                    name="password"
                    class="form-control"
                    id="floatingPassword"
                    placeholder="Parol"
                  />
                  <label for="floatingPassword">Parol</label>
                </div>
              </div>
              <div class="d-grid">
                <button type="submit" class="btn btn-info m-b-xs">Kirish</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>