<section class="grey section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="content-widget">
          <div class="widget-title">
            <h2>Koreys tili</h2>
            <hr>
          </div>
          <p class="koreys">Koreys tili — koreyslarning tili. Oltoy tillariga, baʼzan toʻngusmanjur tillariga kiradi, deb taxmin qilinadi. KXDRning hamda Koreya Respublikasining rasmiy tili. Bu tilda 60 mln. kishi soʻzlashadi (1992). Uning genetik jihatdan boshqa tillar bilan bogʻliqligi aniqlanmagan. Koreys tilining shim.-sharqiy, shim.-gʻarbiy, markaziy, jan.-sharqiy, shim. va jan. shevalari bor. Koreys tilida 40 fonema (19 undosh, 21 unli) mavjud. Morfologik jihatdan agglyutinatsiya rivojlangan. Feʼl zamonlari hozirgi, 2 oʻtgan va 2 kelasi zamon shakllaridan iborat. Son kategoriyasida birlik va koʻplik shakllari farqlanmaydi. Nisbat kategoriyasi hamma feʼllarga xos emas. Leksikasida xitoy tilidan, sanskrit, moʻgʻul va baʼzan Yevropa tillaridan oʻzlashgan soʻzlar bor. Koreys tili 1993-yilgacha "standart til", 1966-yilda "madaniy til" (munxvao) deb atalgan. Bu tilning 2 turi ham KXDR hamda Koreya Respublikasida qoʻllanib kelinadi. KXDRda koreys yozuvi, Koreya Respublikasida xitoykoreys aralash yozuvi qoʻllanadi</p>
            <h2>Koreys yozuvi</h2>
          <p class="koreys">
            Koreys yozuvi — fonetik harfiy-boʻgʻinli yozuv. 1444-yilda qirol Se Jon davri (1419—50)da koreys olimlari Chon Nin Ji, Sin Suk Chu, Son Sam Mum tomonidan yaratilgan. 15-asrning 1-yarmigacha esa koreys tilida Xitoy iyeroglifik yozuvidan foydalanilgan. Lekin bu davrda Xitoy tili koreyslarning adabiy tili boʻlgani uchun, yangi milliy alifbo keng tarqalmadi. 19-asr oxiriga kelib koreys tilida yana iyeroglifik yozuv qoʻllana boshladi. Bu yozuv alifbosi 24 fonemani ifodalaydi. Boshqa fonemalar esa harflarni qoʻshish yoʻli bilan hosil boʻladi. Hozirgi Koreys yozuvida 40 grafema mavjud boʻlib, shundan 24 tasi sodda va 16 tasi murakkabdir. Ammo bu grafemalarning tartibi KXDR va Koreya Respublikasida farq qiladi. Ilgari matnlar yuqoridan pastga va oʻngdan chapga qarab yozilardi. Hozirgi koʻproq chapdan oʻngga qarab yozish rasm boʻlmoqda
          </p>
          <p class="koreys">
            «Koreys alifbosi haqida qisqacha ma’limot»
Koreys tili qadimgi tillardan biridir.Lingvistik va Etnografik tadqiqotlar shuni ko’rsatadiki Koreys tili Ural-Oltoy tillari oilasiga mansubdir.Bu oilaga Turk, Mongol, Tibet, Fin, Venger, O’zbek va bir necha tillar kiradi.Koreys yozma alifbosi Xangil  1443-yilda Choson sulolasi  4 chi qiroli qirol SEDJONG boshchiligidagi bir guruh olimlar tomonidan ixtiro qilingan.Xangilning birinchi nomi «XUNMIN CHO NIM» yani «XALQNI O’QITISH UCHUN TO’G’RI TOVUSHLAR» nomi bilan atalgan.Xangilning yaratilishiga asosiy sabab xitoy ierogliflari o’rganish va uni nutqda qo’llash bir munch qiyinliga va kuchli bilimni tashkil etishi bu esa faqat zodagon oila va o’rtameyona oila bollaragina o’rgana olgan holos.Xangil esa sodda ko’rinishda va oddiy xalq ham ushbu alifboni qiyinchiliksiz o’zlashtira olishi bilan ajralib turgan.Dastlab xangil 28ta harfdan iborat bo’lgan hozirga kelib esa zamonaviy kareys alifbosi 40harifdan iborat .Ulardan 19tasi undosh hariflar 21tasini esa unli harflar tashkil qiladi.Ulardan 26tasi asosiy 14tasi qo’shma tarkibi hariflardan iborat.   
          </p>
        </div>
      </div>
    </div>
  </div>
</section>