 <!-- Header Start -->
    <div class="container-fluid bg-primary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 400px">
            <h3 class="display-3 font-weight-bold text-white">Biz bilan aloqa</h3>
            <div class="d-inline-flex text-white">
                <p class="m-0"><a class="text-white" href="">Bosh sahifa</a></p>
                <p class="m-0 px-2">/</p>
                <p class="m-0">Biz bilan aloqa</p>
            </div>
        </div>
    </div>
    <!-- Header End -->


    <!-- Contact Start -->
    <div class="container-fluid pt-5">
        <div class="container">
            <div class="text-center pb-2">
                <p class="section-title px-5"><span class="px-2">Bog'laning</span></p>
                <h1 class="mb-4">Har qanday savolingiz bo'lsa biz bilan bo'glaning</h1>
            </div>
            <div class="row">
                <div class="col-lg-7 mb-5">
                    <div class="contact-form">
                        <form 
                         action="/messages" method="post" >
                            <div class="control-group mb-3">
                                <input type="hidden" name="_csrf" value="{{csrf}}" />
                                <input type="text" class="form-control" id="name" placeholder="Ism familiya" required="required" name="fullname" />
                            </div>
                            <div class="control-group mb-3">
                                <input type="email" class="form-control" name="email" placeholder="Emailingiz" />
                            </div>
                            <div class="control-group mb-3">
                                <input type="text" class="form-control" id="subject" name="phone" placeholder="Telefon raqam" required="required" />
                            </div>
                            <div class="control-group mb-3">
                                <textarea class="form-control" rows="6" name="message" id="message" placeholder="Habar" required="required" ></textarea>
                            </div>
                            <div>
                                <button class="btn btn-primary py-2 px-4" type="submit" >Yuborish</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-5 mb-5">
                    <p>Xususiy SmartKids bolalar bog'chasi</p>
                    <div class="d-flex">
                        <i class="fa fa-map-marker-alt d-inline-flex align-items-center justify-content-center bg-primary text-secondary rounded-circle" style="width: 45px; height: 45px;"></i>
                        <div class="pl-3">
                            <h5>Manzil</h5>
                            <p>Toshkent shahri, Yakkasaroy tumani, <br/> Yusuf Xos Hojib ko'chasi, 4-A uy</p>
                        </div>
                    </div>
                    <div class="d-flex">
                        <i class="fa fa-envelope d-inline-flex align-items-center justify-content-center bg-primary text-secondary rounded-circle" style="width: 45px; height: 45px;"></i>
                        <div class="pl-3">
                            <h5>Elektron manzil</h5>
                            <p>smartkids@gmail.com</p>
                        </div>
                    </div>
                    <div class="d-flex">
                        <i class="fa fa-phone-alt d-inline-flex align-items-center justify-content-center bg-primary text-secondary rounded-circle" style="width: 45px; height: 45px;"></i>
                        <div class="pl-3">
                            <h5>Telefon raqam</h5>
                            <p>+998 91 555 06 06</p>
                        </div>
                    </div>
                    <div class="d-flex">
                        <i class="far fa-clock d-inline-flex align-items-center justify-content-center bg-primary text-secondary rounded-circle" style="width: 45px; height: 45px;"></i>
                        <div class="pl-3">
                            <h5>Ish vaqti</h5>
                            <strong>Dushanba - Juma:</strong>
                            <p class="m-0">08:00 - 17:00 </p>
                        </div>
                    </div>
                </div>
            </div>
            {{!-- <div style="position:relative;overflow:hidden;"><a href="https://yandex.uz/maps/org/kids_avenue/196148568351/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Kids Avenue, детский развлекательный центр</a><a href="https://yandex.uz/maps/10335/tashkent/category/children_playroom/88844575693/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:14px;">Детские игровые залы и площадки в Ташкенте</a><iframe src="https://yandex.uz/map-widget/v1/-/CCUFiFC6dC" width="560" height="400" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div> --}}
        </div>
    </div>
    <!-- Contact End -->