    <section class="grey section">
      <div class="container">
        <div class="row contact-wrapper">
          <div class="col-md-9 col-sm-9 col-xs-12 content-widget">
            <div class="widget-title">
              <h4>Biz bilan bog'laning</h4>
              <hr>
            </div>
            <div id="contact_form" class="contact_form row">
              <div id="message"></div>
              <form id="contactform" action="/message"      name="contactform"
                method="post">
                <input type="hidden" name="_csrf" value="{{csrf}}" />
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                  <input type="text" name="fullname" id="name" class="form-control" placeholder="Ismingiz *">
                  <input type="text" name="email" id="email" class="form-control" placeholder="Email *">
                  <input type="text" name="phone" id="website" class="form-control" placeholder="Telefon raqamingiz">
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                  <textarea class="form-control" name="message" id="comments" rows="6" placeholder=""></textarea>
                  <button type="submit" id="submit" class="btn btn-primary btn-block">
                    {{#if success}}
                      {{success}}
                    {{else}}
                      Yuborish
                    {{/if}}
                  </button>
                </div>
              </form>
            </div>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-12 content-widget">
            <div class="widget-title">
              <h4>Aloqa</h4>
              <hr>
            </div>
            <div class="contact-list">
              <ul class="contact-details">
                <li><a href="mailto:info@gmail.com">info@gmail.com</a></li>
                <li> +998 99 123 45 67</li>
                <li>Toshkent shahar, Yunusobod</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>