<section class="slider-section">
  <div class="tp-banner-container">
    <div class="tp-banner">
      <ul>
        <li
          data-transition="fade"
          data-slotamount="1"
          data-masterspeed="500"
          data-thumb="/upload/slider_new_01.jpg"
          data-saveperformance="off"
          data-title="Slide"
        >
          <img
            src="/upload/xslider_new_01.jpg.pagespeed.ic.RgCY2ieSzC.jpg"
            alt="fullslide1"
            data-bgposition="center top"
            data-bgfit="cover"
            data-bgrepeat="no-repeat"
          />
          <div
            class="tp-caption slider_layer_01 text-center lft tp-resizeme"
            data-x="center"
            data-y="220"
            data-speed="1000"
            data-start="600"
            data-easing="Power3.easeInOut"
            data-splitin="none"
            data-splitout="none"
            data-elementdelay="0.1"
            data-endelementdelay="0.1"
            data-endspeed="1000"
            style="
                    z-index: 9;
                    max-width: auto;
                    max-height: auto;
                    white-space: nowrap;
                  "
          >
            <strong>Koreys tilini o'rgatuvchi sayt</strong>
          </div>
          <div
            class="tp-caption slider_layer_02 text-center lft tp-resizeme"
            data-x="center"
            data-y="320"
            data-speed="1000"
            data-start="800"
            data-easing="Power3.easeInOut"
            data-splitin="none"
            data-splitout="none"
            data-elementdelay="0.1"
            data-endelementdelay="0.1"
            data-endspeed="1000"
            style="
                    z-index: 9;
                    max-width: auto;
                    max-height: auto;
                    white-space: nowrap;
                  "
          >
            Siz biz bilan koreys tilini oson o'rganasz!
          </div>
        </li>
        <li
          data-transition="fade"
          data-slotamount="7"
          data-masterspeed="1500"
          data-delay="5000"
        >
          <img
            src="/images/xdummy.png.pagespeed.ic.lRMfmktUso.png"
            alt="video_business"
            data-bgposition="center center"
            data-bgfit="cover"
            data-bgrepeat="no-repeat"
          />
          <div
            class="tp-caption tp-fade fadeout fullscreenvideo"
            data-x="0"
            data-y="0"
            data-speed="1000"
            data-start="800"
            data-easing="Power4.easeOut"
            data-endspeed="1500"
            data-endeasing="Power4.easeIn"
            data-autoplay="true"
            data-autoplayonlyfirsttime="false"
            data-nextslideatend="true"
            data-forceCover="1"
            data-aspectratio="16:9"
            data-forcerewind="on"
            style="z-index: 2"
          >
            <video
              id="revvideo"
              class="video-js vjs-default-skin"
              preload="none"
              poster="images/dummy.png"
              data-setup="{}"
            >
              <source src="/upload/video.mp4" type="video/mp4" />
              <source src="/upload/video.webm" type="video/webm" />
              <source src="/upload/video.ogv" type="video/ogg" />
            </video>
          </div>
          <div
            class="tp-caption slider_layer_01 text-center lft tp-resizeme"
            data-x="center"
            data-y="220"
            data-speed="1000"
            data-start="600"
            data-easing="Power3.easeInOut"
            data-splitin="none"
            data-splitout="none"
            data-elementdelay="0.1"
            data-endelementdelay="0.1"
            data-endspeed="1000"
            style="
                    z-index: 9;
                    max-width: auto;
                    max-height: auto;
                    white-space: nowrap;
                  "
          >
            <strong>Biz sizga Koreys tilini tez o'rganishda yordam beramiz</strong>
          </div>
          <div
            class="tp-caption slider_layer_02 lightcolor text-center lft tp-resizeme"
            data-x="center"
            data-y="320"
            data-speed="1000"
            data-start="800"
            data-easing="Power3.easeInOut"
            data-splitin="none"
            data-splitout="none"
            data-elementdelay="0.1"
            data-endelementdelay="0.1"
            data-endspeed="1000"
            style="
                    z-index: 9;
                    max-width: auto;
                    max-height: auto;
                    white-space: nowrap;
                  "
          >
            Koreys tilini biz bilan o'rganib Koreya davlatiga ketishingiz ham mumkin
          </div>
        </li>
        <li
          data-transition="fade"
          data-slotamount="1"
          data-masterspeed="500"
          data-thumb="/upload/slider_new_03.jpg"
          data-saveperformance="off"
          data-title="Slide"
        >
          <img
            src="/upload/xslider_new_03.jpg.pagespeed.ic.0dDeZb1yS7.jpg"
            alt="fullslide1"
            data-bgposition="center top"
            data-bgfit="cover"
            data-bgrepeat="no-repeat"
          />
          <div
            class="tp-caption slider_layer_01 text-center lft tp-resizeme"
            data-x="center"
            data-y="250"
            data-speed="1000"
            data-start="600"
            data-easing="Power3.easeInOut"
            data-splitin="none"
            data-splitout="none"
            data-elementdelay="0.1"
            data-endelementdelay="0.1"
            data-endspeed="1000"
            style="
                    z-index: 9;
                    max-width: auto;
                    max-height: auto;
                    white-space: nowrap;
                  "
          >
            Koreys tilini o'rganmoqchimisiz?
          </div>
          <div
            class="tp-caption slider_layer_02 text-center lft tp-resizeme"
            data-x="center"
            data-y="360"
            data-speed="1000"
            data-start="800"
            data-easing="Power3.easeInOut"
            data-splitin="none"
            data-splitout="none"
            data-elementdelay="0.1"
            data-endelementdelay="0.1"
            data-endspeed="1000"
            style="
                    z-index: 9;
                    max-width: auto;
                    max-height: auto;
                    white-space: nowrap;
                  "
          >
            Koreys tilini o'rganmoqchi bo'lganlar uchun mutlaqo bepul sayt
          </div>
        </li>
        <li
          data-transition="fade"
          data-slotamount="1"
          data-masterspeed="500"
          data-thumb="/upload/slider_new_02.jpg"
          data-saveperformance="off"
          data-title="Slide"
        >
          <img
            src="/upload/xslider_new_02.jpg.pagespeed.ic.QHr4wT-HDB.jpg"
            alt="fullslide1"
            data-bgposition="center top"
            data-bgfit="cover"
            data-bgrepeat="no-repeat"
          />
          <div
            class="tp-caption slider_layer_04 text-center lft tp-resizeme"
            data-x="center"
            data-y="200"
            data-speed="1000"
            data-start="600"
            data-easing="Power3.easeInOut"
            data-splitin="none"
            data-splitout="none"
            data-elementdelay="0.1"
            data-endelementdelay="0.1"
            data-endspeed="1000"
            style="
                    z-index: 9;
                    max-width: auto;
                    max-height: auto;
                    white-space: nowrap;
                  "
          >
            <strong> Bizning jamoa sizga yordamga tayyor!</strong>
          </div>
          <div
            class="tp-caption slider_layer_02 text-center lft tp-resizeme"
            data-x="center"
            data-y="340"
            data-speed="1000"
            data-start="800"
            data-easing="Power3.easeInOut"
            data-splitin="none"
            data-splitout="none"
            data-elementdelay="0.1"
            data-endelementdelay="0.1"
            data-endspeed="1000"
            style="
                    z-index: 9;
                    max-width: auto;
                    max-height: auto;
                    white-space: nowrap;
                  "
          >
            Biz sizga yordam berishdan mamnunmiz!
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
<section class="white section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-title text-center">
          <h4>Bizning loyihamiz</h4>
          <p>
            Siz biz bilan koreys tilini oson va tez o'rganishingiz mumkin
          </p>
        </div>
      </div>
    </div>
    <div class="row service-center">
      <div class="col-md-4 col-sm-12">
        <div class="feature-list border-radius">
          <i class="fa fas-graduation-cap"></i>
          <p><strong>Koreys tili alifbosi</strong></p>
          <p>
            Saytimizda koreys tili alifbosi bilan tanishishingiz mumkin va harflarni qanday talaffuz qilinishini ham bilib olishingiz mumkin  
          </p>
        </div>
      </div>
      <div class="col-md-4 col-sm-12">
        <div class="feature-list border-radius">
          <i class="fas faas-shopping-cart"></i>
          <p><strong>Matnlar talaffuzi</strong></p>
          <p>
            Saytda o'zingiz yozgan matningizni ham qanday talaffuz qilinishini ham bilib olishingiz mumkin
          </p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="feature-list border-radius">
          <i class="fa fa-question"></i>
          <p><strong>Admin bilan aloqa</strong></p>
          <p>
            Siz o'zingiz qiziqtirgan savol yoki sayt uchun taklifingiz bo'lsa <a href="/contact">aloqa</a> bo'limi orqali admin bilan bog'lanishizgiz mumkin
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section
  class="section darkskin fullscreen paralbackground parallax"
  style="
          background-image: url(upload/xparallax_01.jpg.pagespeed.ic.JPVsQrTu6o.jpg);
        "
  data-img-width="1627"
  data-img-height="868"
  data-diff="100"
>
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-title text-center">
          <h4>Biz qanday ishlaymiz</h4>
          <p>
            Sayt orqali siz koreys alifbosini o'rganishingiz mumkin, <br/>  koreys tilida uzunroq gaplar qanday tuzilishi va talaffuzini 
            o'rganasz, <br/> koreys tili lu'gatimizda ham 1000 dan ortiq so'zlar mavjud va <br/> siz o'zingiz koreys tili haqida so'zlaringizni yozib 
            qanday o'qilishini bilib olishingiz mumkin
          </p>
        </div>
      </div>
    </div>
    <div class="row button-wrapper">
      <div class="col-md-12">
        <div class="text-center">
          <a href="/translate" class="btn btn-default">Lug'atni ko'rish</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="white section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-title text-center">
          <h4>Bizning jamoa</h4>
          <p>Biz sizga yordam berishdan mamnunmiz</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="content-widget">
          <div class="team-members row">
            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="team">
                <img
                  src="/upload/xteam_02.jpg.pagespeed.ic.Foo3PN64df.jpg"
                  alt=""
                  class="img-responsive wow fadeInUp"
                />
                <div class="team-hover-content">
                  <h5>Stivin</h5>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="team">
                <img
                  src="/upload/xteam_03.jpg.pagespeed.ic.Mw22RnI1eL.jpg"
                  alt=""
                  class="img-responsive wow fadeInUp"
                />
                <div class="team-hover-content">
                  <h5>Jenny Kennedy</h5>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="team">
                <img
                  src="/upload/xteam_04.jpg.pagespeed.ic.equz9NTtM1.jpg"
                  alt=""
                  class="img-responsive wow fadeInUp"
                />
                <div class="team-hover-content">
                  <h5>Jennifer DEO</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section
  class="section fullscreen paralbackground parallax"
  style="
          background-image: url(upload/xparallax_02.jpg.pagespeed.ic.Sx1_qXOliB.jpg);
        "
  data-img-width="1627"
  data-img-height="868"
  data-diff="100"
>
  <div class="overlay green-overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-title text-center">
          <h4>Bizning ma'lumotlar</h4>
          <p>Sizga yordam bera oladigan ma'lumotlarimiz soni</p>
        </div>
      </div>
    </div>
    <div class="row service-center funfactors">
      <div class="col-md-4 col-sm-6">
        <div class="feature-list">
          <i class="stat-count">40</i>
          <p><strong>Koreys alifbosi</strong></p>
          <p>
            Koreys alifbosida 40 fonema (19 undosh, 21 unli) mavjud. Morfologik jihatdan agglyutinatsiya rivojlangan
          </p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="feature-list">
          <i class="stat-count">450</i>
          <p><strong>Koreys lug'ati</strong></p>
          <p>
            Siz bilgan va bilmagan 450 dan ortiq koreys so'zlari
          </p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="feature-list">
          <i class="stat-count">200</i>
          <p><strong>Koreys matnlari</strong></p>
          <p>
            Koreys tilini o'rganishda eng ko'p ishlatiladigan gaplar ketma-ketligi
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
